
.n-1 {
    margin-right: 20px;
}

.n-2 {
    margin-right: 40px;
}

.n-3 {
    margin-right: 60px;
}

.info-status-caepi {
    margin-top: 20px;
    font-size: 8px;
    font-weight: 300;
}

.card-api-restful {
    margin-left: 60px;

    &-text-code {
        font-size: 14px;
        font-weight: bold;
    }

    @include mobile {
        margin-left: 5px;

        &-text-code {
            font-size: 12px;
            font-weight: bold;
        }
    }


    &-title {
        color: $secondary-color;
        font-weight: 500;
        font-size: 32px;
        border-bottom: 2px solid $secondary-color;
    }

    &-sub-title {
        margin-top: 20px;
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
    }

    &-body {
        margin-top: 20px;
        background-color: #FAFAFA;
        padding: 40px;
        overflow-x: hidden;

        &-modal {
            padding: 10px;
            margin-top: 0px;

            @include mobile {
                padding: 5px;
            }
        }
        
        @include mobile {
            padding: 0px;
            width: 99%;

            span {
                overflow: hidden;
                font-size: 12px;
            }

            code {
                overflow: hidden;
                font-size: 12px;
            }
        }

        pre {
            &::-webkit-scrollbar {
                display: none; 
            }
        }
    }

    &-body-title {
        margin-top: 50px;
        margin-bottom: 20px;
        color: $secondary-color;
        font-weight: 700;
        font-size: 16px;
    }

    &-body-text {
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
    }

    &-info {
        margin-top: 20px;
        margin-bottom: 50px;
        color: $text-color;
        font-weight: 500;
        font-size: 15px;

        span {
            color: rgb(255, 0, 0);
        }
    }

}

