
footer {
    background-color: $footer-bg;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $text-color;
    box-shadow: 0px 0px 10px 0px $black-color;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        .footer-title {
            color: $footer-text;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 1rem;
        }
    }

    .footer-desc-container {
        width: 40%;
 
        a {
            margin-left: 5px;
            color: $footer-text;

            &:hover {
                color: $black-color;
            }
        }

        @include mobile {
            width: 100%;
            margin-bottom: 2rem; 
            text-align: center;
        }
    }

    .footer-links-container {
        width: 60%;

        @include mobile {
            width: 100%;
            margin-bottom: 2rem; 
            text-align: center;
        }
    }

    .footer-desc-container {
        p {
            width: 80%;
            line-height: 1.3;

            @include mobile {
                width: 100%;
            }
        }
    }

    .footer-links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
            
        &-list {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $footer-text;
                font-weight: bold;
                margin-right: 1rem;
                text-decoration: none;

                @include mobile {
                    padding-bottom: 2rem;
                }

                &:hover {
                    color: $black-color;
                }
            }

            &-icon {
                color: $footer-text;
            }
        }
    }

    .footer-copy-right-container {
        width: 100%;
        margin-top: 1rem;

        @include mobile {
            text-align: center;
        }
            
        p {
            margin-bottom: 1rem;
        }
    }

};
