
footer {
    background-color: $footer-bg;
    color: $text-color;
    padding: 5rem 2rem;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
            flex-direction: column;
        }

        .footer-title {
            color: #FFF;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    .footer-desc-container {
        width: 40%;

        @include mobile {
            width: 100%;
            margin-bottom: 2rem; 
            text-align: center;
        }
    }

    .footer-links-container {
        width: 60%;

        @include mobile {
            width: 100%;
            margin-bottom: 2rem; 
            text-align: center;
        }
    }

    .footer-desc-container {
        p {
            width: 80%;
            line-height: 1.3;

            @include mobile {
                width: 100%;
            }
        }
    }

    .footer-links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
            
        &-list {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $text-color;
                font-weight: bold;
                margin-right: 1rem;
                text-decoration: none;

                @include mobile {
                    padding-bottom: 2rem;
                }

                &:hover {
                    color: $ligth-color;
                }
            }

            &-icon {
                color: $text-color;
            }
        }
    }

    .footer-copy-right-container {
        width: 100%;
        margin-top: 3rem;

        @include mobile {
            text-align: center;
        }
            
        p {
            margin-bottom: 1rem;
        }
    }

};
