ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, rgb(24, 130, 104)));
}

.ion-menu {
  max-width: $max-width-menu;
}

.ion-menu-bg {
  --background: var(--ion-item-background, var(--ion-background-color, rgb(24, 130, 104)));
  background-color: $primary-color;
}

.ion-menu-div {
  margin-bottom: 20px !important;
  display: flex;
  justify-items: center;
}

.ion-menu-title {
  color: #ffffff !important;
  font-size: 30px !important;  
  font-weight: 700 !important;
  margin-left: 10px !important;
  margin-top: 30px !important;
}

.ion-menu-logo {
  width: 80px;
  height: auto;
}

.ion-menu-logo-alt {
  font-size: 80px !important;
  color: $ligth-color !important;
  opacity: 0.5;
}

.hide-element {
  display: none;
}

.ion-label-icon {
  margin-left: 10px;
  color: #ffffff;
}

.ion-label-icon-title {
  margin-left: 5px;
  color: #ffffff;
}

.cursor-point {
  cursor: pointer;
}

.ion-item {
  cursor: pointer !important;
  color: #ffffff !important;

  &:hover{
    color: #000000 !important;
    background-color: #0c3f32 !important;
  }
}

.ion-item-caepi {
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
  font-size: 12px;
  background-color: #e8ebea;

  &:hover{
    color: #000000;
    background-color: #157960;
  }
}

.ion-item-selected {
  color: #050404 !important;
  background-color: #0c3f32 !important;
}

.btn-menu-exit {
  border-top: 1px solid #88918f;
  position: fixed;
  bottom: 0;
  width: 95%;
  text-align: center;
  max-width: $max-width-menu;
  
  .ion-item {
    color: $secondary-color;

    &:hover{
      color: #000000;
      background-color: #157960;
    }
  }
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  
}

ion-menu.md ion-note {
  margin-bottom: 30px;
  
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  color: #ffffff;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #ffffff;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: var(--ion-item-background, var(--ion-background-color, rgb(24, 130, 104)));
}
