
.main-banner-register {
    background-image: url(../assets/img/background_register.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    .title-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
}

.grid-register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


