
.main-banner-login {
    background-image: url(../assets/img/background_register.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.grid-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


