.fadeout {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.fadein {
    opacity: 1;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.secondary-color {
    color: $secondary-color;
}

.color-black {
    color: $black-color;  
}

.footer-info-api {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary-color;
    color: $ligth-color;
    width: 100%;
    min-height: 280px;
    font-weight: 400;
    text-align: center;
    

    p {
        font-size: 32px;
        margin-bottom: 10px;
    }

    span {
        font-size: 16px;
    }

    .btn-view-doc-api {
        margin-top: 30px;
        color: $black-color;
        border-color: $ligth-color;
        background-color: $ligth-color;
        border-radius: 30px;
        min-width: 150px;

        &:hover {
            background-color: $secondary-color;
            color: $ligth-color;
        }
    }

    @include mobile {
        font-size: 18px;

        p {
            font-size: 25px;
        }
    }
}

.card-info-api {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary-color;
    color: $ligth-color;
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    text-align: center;

    @include mobile {
        font-size: 18px;

        br {
            display: none;
        }
    }
}



.main-banner {
    height: 102vh;
    background-image: url(../assets/img/background.png);
    background-size: cover;
    background-position: center;
    color: $ligth-color;

    .stack-avatar-user {
        margin-top: 45px;
        margin-left: 100px;
        cursor: pointer;

        @include mobile {
            margin-left: 30px;
        }
    }

    .btn-login {
        margin-top: 45px;
        margin-left: 100px;
        color: $ligth-color;
        border-color: $secondary-color;
        background-color: $secondary-color;
        border-radius: 30px;
        min-width: 120px;

        @include mobile {
            margin-top: 20px;
            margin-left: 30px;
        }

        &:hover {
            background-color: $secondary-color;
            color: $black-color;
        }
    }

    .btn-new-user {
        margin-top: 45px;
        margin-left: 10px;
        color: $secondary-color;
        border-color: $secondary-color;
        border-radius: 30px;
        min-width: 120px;

        @include mobile {
            margin-top: 20px;
        }

        &:hover {
            border-color: $secondary-color;
            background-color: $secondary-color;
            color: $black-color;
        }
    }

    span {
        font-weight: 700; 
        size: 48px;
    }

    .msg-error {
        margin-top: 3px;
        margin-left: 3px;
        color: red;
        font-size: 12px;
    }

    .msg-info {
        margin-top: 3px;
        margin-left: 3px;
        color: rgb(68, 0, 253);
        font-size: 12px;
    }

    .grid-text {
        margin-top: 25vh;
        margin-left: 80px;

        @include mobile {
            margin-left: 5px;
        }

        span {
            font-size: 48px;
            font-weight: 300;

            @include mobile {
                font-size: 35px;
            }
        }

        .bold {
            font-weight: 500;
        }
    }

    .btn-search {
        border-color: $primary-color;
        background-color: $primary-color;
        
        span {
            font-size: 16px;
        }       
    }

    .paper-search {
        border-radius: 30px;
        padding: 0px 0px 0px 10px;
        max-width: 450px;

        &-success {
            box-shadow: 0px 0px 5px 0px $primary-color;
        }

        &-error {
            box-shadow: 0px 0px 10px 0px $error-color;
        }
    
        @include mobile {
            width: 90%;
        }
    }
    
    .btn-search {
        background-color: $primary-color;
        border-radius: 0px;
        border-radius: 0px 25px 25px 0px;
        color: $ligth-color;
        font-size: 15px;
        text-transform: initial;

        &-error {
            background-color: $error-color
        }
    
        &:hover {
            color: $primary-color;
        }
    }
}

.grid-simplicity {
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;
    padding-left: 30px;

    @include mobile {
        padding-left: 5px;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    &-content {
        width: 50%;
        @include mobile {
            width: 100%;
        }
    }

    &-img {
        display: flex;
        align-items: center;

        img {
            width: 90%;
        }

        width: 50%;
        @include mobile {
            width: 100%;
        }
    }

    &-title {
        color: $secondary-color;
        font-weight: 400;
        font-size: 32px;
    }

    &-sub-title {
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
    }

    &-item-list {
        color: $text-color;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;

        @include mobile {
            font-size: 18px;
        }
    }
}

.grid-api {
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;
    padding-left: 30px;

    @include mobile {
        padding-left: 5px;
        flex-direction: column;
    }

    &-content {
        width: 50%;
        @include mobile {
            width: 100%;
        }
    }

    &-img {
        display: flex;
        align-items: center;

        img {
            width: 90%;
        }

        width: 50%;
        @include mobile {
            width: 100%;
        }
    }

    &-title {
        color: $secondary-color;
        font-weight: 400;
        font-size: 32px;
    }

    &-sub-title {
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
    }

    &-item-list {
        color: $text-color;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;

        @include mobile {
            font-size: 18px;
        }
    }
}