$primary-color: #188268;
$secondary-color: #EDBB49;
$ligth-color: #FFFFFF;
$dark-color: #181920;
$text-color: #4D4D4D;
$black-color: #000000;
$blue-color: #0e2dab;
$error-color: #910d0d;
$menu-bg: #FFFFFF;
$footer-bg: #FFFFFF;
$footer-text: #707070;
$max-width-menu: 250px;