@import './variables';
@import './utilities';
@import './menu_home';
@import './menu';
@import './form';
@import './page_home';
@import './page_user';
@import './page_register';
@import './page_login';
@import './page_find_caepi';
@import './footer';
@import './card_api_restful';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}



ion-title {
    margin-left: 10px;
}

.title-page {
    margin-left: 20px;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.ion-toolbar-page {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 8px;
    background-color: $ligth-color;

    .ion-toolbar-page-left {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
    }

    .ion-toolbar-page-rigth {
        padding-top: 5px;
    }
}

.stack-avatar-user {
    cursor: pointer;
}

.ion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .menu-user {
        margin-right: 20px;
    }
}

.ion-content {
    margin-top: 50px;
}

.card-find-caepi {
    min-height: 245px;
    margin-left: 5px;
    margin-right: 5px;

    @include mobile {
        min-height: 100px;
    }
}

.card {
    margin: 10px;

    @include mobile {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding: 0px !important;
    }
}


.grid-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    img {
        width: 65%;
        height: 'auto';

        @include mobile {
            width: 40%;
        }
    }
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}


